<header class="header">
  <div class="div-logo">
    <h2 class="logo-text">How's your fishing?</h2>
  </div>
  <nav class="navigation">
    <ul class="nav-links">
      <li class="nav-link">
        <a href="/statistics">Statistics</a>
      </li>
    </ul>
  </nav>
</header>
